<div style="margin: 20%; 50%;">
    <mat-form-field>
      <mat-label>Name or # Document</mat-label>
      <input matInput #searchBox (input)="search(searchBox.value)" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Destinatario</mat-label>
      <input matInput disabled [(ngModel)]="farmer.name">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Doc #</mat-label>
      <input matInput disabled [(ngModel)]="farmer.document.documentNumber">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Address</mat-label>
      <input matInput disabled [(ngModel)]="farmer.address.street">
    </mat-form-field>
</div>
